/* _content/Sociolite/Components/JoinTeamGuide.razor.rz.scp.css */
.narrow[b-3j5jzjxs22] {
    max-width: 900px;
    margin: 0 auto;
}

.page-padding[b-3j5jzjxs22] {
    padding: 4rem;
}

.welcome.page > .narrow > img[b-3j5jzjxs22] {
    margin: 0 auto;
    display: block;
    width: 200px;
}

.welcome.page > .narrow > .menu[b-3j5jzjxs22] {
    width: 80%;
    justify-content: space-between;
    margin: 4rem auto;
    border-bottom: none;
}

    .welcome.page > .narrow > .menu > .menu-item[b-3j5jzjxs22] {
        background-color: inherit;
        margin: auto;
        font-size: 14px;
        min-height: 32px;
        border-bottom-color: rgb(98, 100, 167);
    }

.center[b-3j5jzjxs22] {
    text-align: center;
}

.sections > *[b-3j5jzjxs22] {
    margin: 4rem auto;
}

.error[b-3j5jzjxs22] {
    color: red;
}
/* _content/Sociolite/Components/Main.razor.rz.scp.css */
.narrow[b-ic15bbqdyj] {
    max-width: 900px;
    margin: 0 auto;
}

.page-padding[b-ic15bbqdyj] {
    padding: 4rem;
}

.welcome.page > .narrow > img[b-ic15bbqdyj] {
    margin: 0 auto;
    display: block;
    width: 200px;
}

.welcome.page > .narrow > .menu[b-ic15bbqdyj] {
    width: 80%;
    justify-content: space-between;
    margin: 4rem auto;
    border-bottom: none;
}

    .welcome.page > .narrow > .menu > .menu-item[b-ic15bbqdyj] {
        background-color: inherit;
        margin: auto;
        font-size: 14px;
        min-height: 32px;
        border-bottom-color: rgb(98, 100, 167);
    }

.center[b-ic15bbqdyj] {
    text-align: center;
}

.sections > *[b-ic15bbqdyj] {
    margin: 4rem auto;
}

.error[b-ic15bbqdyj] {
    color: red;
}
/* _content/Sociolite/Components/ProfileCard.razor.rz.scp.css */
.profile[b-8oo890eu7w] {
    display: flex;
    align-items: center;
}

    .profile .avatar[b-8oo890eu7w] {        
        flex: 1 0 auto;
    }

    .profile .avatar img[b-8oo890eu7w] {
        margin: 15px;
        height: 64px;
        width: 64px;
        border-radius: 32px;
    }

    .profile .info[b-8oo890eu7w] {
        margin: 0 2em;
        flex: 4 0 auto;
    }

        .profile .info > h3[b-8oo890eu7w] {
            margin: 0;
        }

        .profile .info > p[b-8oo890eu7w] {
            margin: 0;
        }
/* _content/Sociolite/Components/TeamsOverview.razor.rz.scp.css */
.narrow[b-s7r3ykmu3b] {
    max-width: 900px;
    margin: 0 auto;
}

.page-padding[b-s7r3ykmu3b] {
    padding: 4rem;
}

.welcome.page > .narrow > img[b-s7r3ykmu3b] {
    margin: 0 auto;
    display: block;
    width: 200px;
}

.welcome.page > .narrow > .menu[b-s7r3ykmu3b] {
    width: 80%;
    justify-content: space-between;
    margin: 4rem auto;
    border-bottom: none;
}

    .welcome.page > .narrow > .menu > .menu-item[b-s7r3ykmu3b] {
        background-color: inherit;
        margin: auto;
        font-size: 14px;
        min-height: 32px;
        border-bottom-color: rgb(98, 100, 167);
    }

.center[b-s7r3ykmu3b] {
    text-align: center;
}

.sections > *[b-s7r3ykmu3b] {
    margin: 4rem auto;
}

.error[b-s7r3ykmu3b] {
    color: red;
}
/* _content/Sociolite/Components/Welcome.razor.rz.scp.css */
.narrow[b-yaw5cn16wl] {
    max-width: 900px;
    margin: 0 auto;
}

.page-padding[b-yaw5cn16wl] {
    padding: 4rem;
}

.welcome.page > .narrow > img[b-yaw5cn16wl] {
    margin: 0 auto;
    display: block;
    width: 200px;
}

.welcome.page > .narrow > .menu[b-yaw5cn16wl] {
    width: 80%;
    justify-content: space-between;
    margin: 4rem auto;
    border-bottom: none;
}

    .welcome.page > .narrow > .menu > .menu-item[b-yaw5cn16wl] {
        background-color: inherit;
        margin: auto;
        font-size: 14px;
        min-height: 32px;
        border-bottom-color: rgb(98, 100, 167);
    }

.center[b-yaw5cn16wl] {
    text-align: center;
}

.sections > *[b-yaw5cn16wl] {
    margin: 4rem auto;
}

.error[b-yaw5cn16wl] {
    color: red;
}
/* _content/Sociolite/Pages/Tab.razor.rz.scp.css */
.narrow[b-9jpvi4d8hx] {
	max-width: 900px;
	margin: 0 auto;
}

.page-padding[b-9jpvi4d8hx] {
	padding: 4rem;
}

.welcome.page > .narrow > img[b-9jpvi4d8hx] {
	margin: 0 auto;
	display: block;
	width: 200px;
}

.welcome.page > .narrow > ul[b-9jpvi4d8hx] {
	width: 75%;
	justify-content: space-between;
	margin: 4rem auto;
}

	.welcome.page > .narrow > ul > li[b-9jpvi4d8hx] {
		background-color: inherit;
		margin: auto;
	}

		.welcome.page > .narrow > ul > li > a[b-9jpvi4d8hx] {
			font-size: 16px;
			height: 32px;
			border-bottom-color: rgb(98, 100, 167);
		}

.center[b-9jpvi4d8hx] {
	text-align: center;
}

pre[b-9jpvi4d8hx] {
	overflow-x: scroll;
}

pre[b-9jpvi4d8hx],
div.error[b-9jpvi4d8hx] {
	background-color: #e5e5e5;
	padding: 1rem;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	margin: 1rem 0;
}

code[b-9jpvi4d8hx] {
	background-color: #e5e5e5;
	display: inline-block;
	padding: 0px 6px;
	border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.error[b-9jpvi4d8hx] {
	color: red;
}

.profile[b-9jpvi4d8hx] {
	display: flex;
	margin: 1em 0;
	background-color: white;
	width: fit-content;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

	.profile > .avatar[b-9jpvi4d8hx] {
		margin: 2em 1em;
		height: 72px;
		width: 72px;
	}

	.profile > .info[b-9jpvi4d8hx] {
		margin: 2em 2em 0 0;
	}

		.profile > .info > h3[b-9jpvi4d8hx] {
			margin: 0;
		}

		.profile > .info > p[b-9jpvi4d8hx] {
			margin: 0;
		}
