@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using Sociolite.Data
@using Sociolite.Models
@inject TeamsFx teamsfx
@inject TeamsUserCredential teamsUserCredential
@inject MicrosoftTeams MicrosoftTeams
@inject IWebHostEnvironment HostEnvironment
@inject IConfiguration Configuration
@inject NavigationManager MyNavigationManager
@inject IDAO DAO
@inject ISessionContext SessionContext

@if(isLoading)
{
    <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
		<FluentProgressRing/>
	</div>
}
else
{
    <div style="background: rgb(231,231,231);
background: linear-gradient(0deg, rgba(231,231,231,1) 0%, rgba(240,240,240,1) 5%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 90%);">
    <div class="welcome page">
        <div class="narrow">
            <div class="center" style="display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
                <h1 style="padding-right: 15px; color: dimgray; font-size: 60px;">Sociolite</h1>
                <img height="75px" width="75px" src="socioliteLogo.png" />
            </div>
        </div>
    </div>
    <div class="center">
        For development purposes, click here to add or remove dummy team(s) to/from user:
        <button @onclick="AddTeam">Add team</button>
        <button @onclick="RemoveTeams">Remove teams</button>

            <div>Teams: @SessionContext.GetTeams().Count()</div>
            <div>Window: @SessionContext.GetWindow()</div>

        <div>
                <button class="teamsTabButton" @onclick=" GoToTeams">
                <img style="float: left;" height="40px" width="40px" src="socioliteTeamsIcon.png" />
                    <span>Teams</span>
            </button>
            <button class="activitiesTabButton" @onclick="GoToActivities">
                <img style="float: left;" height="40px" width="40px" src="socioliteActivitiesIcon.png" />
                    <span>Activities</span>
            </button>
        </div>
    </div>
    </div>
    @if (String.Equals(SessionContext.GetWindow(), "teams"))
    {
        // If joined atleast 1 team
        <TeamsOverview></TeamsOverview>
    } else {
        // If not joined any teams
        <ActivitiesOverview></ActivitiesOverview>
    }
}

@code {
    string userName;
    string errorMessage;
    string contactsString;
    bool isInTeams;
    bool isLoading = true; 

    protected void AddTeam()
    {
        List<string> ids = new List<string>();

        if (SessionContext.GetTeams().Count() % 2 == 0)
        {
            ids.Add(userName);
        }
        TeamsUser user1 = new TeamsUser();
        user1.Name = "user1";
        TeamsUser user2 = new TeamsUser();
        user2.Name = "user2";
        TeamsUser user3 = new TeamsUser();
        user3.Name = "user3";
        TeamsUser user4 = new TeamsUser();
        user4.Name = "user4";
        TeamsUser user5 = new TeamsUser();
        user5.Name = "user5";
        SessionContext.AddTeam(new SocioliteTeam
            {
                Id = ("" + SessionContext.GetTeams().Count()),
                Name = "Team " + SessionContext.GetTeams().Count(),
                Members = new List<TeamsUser> { user1, user2 , user3, user4, user5},
                RecurranceString = "*/5 * * * * *",
                Discussions = new List<SocioliteDiscussion>(),
                Polls = new List<SociolitePoll>(),
                SchedulerIds = ids,
                ActivityIsActive = (SessionContext.GetTeams().Count() % 2 == 0)
            });
    }

    protected void RemoveTeams()
    {
        SessionContext.ClearTeams();
    }

    protected void GoToTeams()
    {
        SessionContext.SetWindow("teams");
    }

    protected void GoToActivities()
    {
        SessionContext.SetWindow("activities");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if(firstRender)
        {
            isInTeams = await MicrosoftTeams.IsInTeams();

            if (isInTeams)
            { 
                var user = await teamsUserCredential.GetUserInfoAsync();
                userName = user.DisplayName;
            }
            else
            {
                errorMessage = "Not running in Microsoft Teams.";
            }

            isLoading = false;
            StateHasChanged();            
        }
    }
}

